@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;600;700&display=swap');
/*==============================
       common style
================================ */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav , .top-banner , .service-area , .buy-product{
    margin-left: 150px;
    margin-right: 150px;
}
ul{
    margin: 0;
    padding: 0;
}
 ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
 /* header */
 nav{
    display: flex;
    justify-content:space-between;
    margin-top: 95px;
    align-items: center;
 }
 nav .logo a{
     text-decoration: none;
     color:black; 
 }
 .menu-bar ul{
     display: flex;
     justify-content: space-evenly;
 }
 .menu-bar ul li a ,
  .menu-bar ul li {
     text-decoration: none;
     padding-left: 34px;
 }
 .menu-bar ul li a i{
     padding: 6px;
 }
/*============================== 
        top banner
 ===============================*/
 .top-banner{
     display: flex;
 }
 .top-banner .left .top-title{
    font-size:45px;
    margin-bottom: 0;
    margin-top:60px;
    
 }
 .top-banner .journey-button , .buy-now{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    Padding:9px 15px;
    text-decoration:none ;
    color:white;
 }
 .top-banner .right {
     overflow: hidden;
 }
 .top-banner .right:hover img{
     transform: scale(1.2);
     transition:transform 1s ease-in;
 }
 .top-banner .right img{
    Width :410px;
    Height:410px;
    margin-top: 20px;
 }
 /* others logo */
 .brands-logo{
     display: flex;
     justify-content:space-evenly;
     margin-top: 100px;
     margin-left: 150px;
     margin-right: 150px;
     border-top:2px solid rgba(128, 128, 128, 0.116);
     border-bottom: 2px solid rgba(128, 128, 128, 0.116);
     padding-top: 15px;
     padding-bottom: 15px;
}
/* service area */
/* .single-product img{
    width:300px;
    height:256px;
} */
.service-area{
    margin-top: 90px;
}
.service-area h3{
    text-align: center;
}
.our-all-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.our-all-product .single-product{
    width: 261px;
    height: 379px;
    box-shadow:4px 4px 20px grey;
    margin: 11px;
    padding: 11px;
    border-radius: 5px;
}
.our-all-product .single-product h3{
    text-align: left;
}
.our-all-product .single-product img{
    width: 100%;
}

.our-all-product .info{
    display: flex;
}
.our-all-product .info .ranking{
    padding-left: 12px
}
.single-product p{
    font-size:10px;
}
.service-area .see-more a{
    text-decoration: none;
    color:lightcoral;
    text-align: right;
}
.service-area .see-more {
    text-align: right;
    margin-right: 65px;
    padding-top: 20px;
}
/*===========================
        footer
=============================*/
.Influencer-products{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.904);
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Influencer-products p{
    font-size: 10px;
    margin-top: -20px
}
.Influencer-products ul{
    display: flex;
    justify-content: center;

}
.Influencer-products ul li i{
    color:white;
    padding: 5px;
}
/*============================
        buy product
============================*/
.buy-product{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.buy-product img{
    width:20%;
    margin-top: 30px;
    margin-bottom: 20px;
}